/* prøver at lave figur */
:root {
	--cube-width: 300px;
	--cube-height: 50px;
	--translateZ: 150px;
}

/* BRUGES TIL CUBEN */
header {
	color: white;
	display: flex;
	align-items: center;
}

.container {
	max-width: 500px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.cube-container {
	perspective: 1000px;
	margin-right: 100px;
}

.cube-container .cube {
	width: var(--cube-width);
	height: var(--cube-height);
	transform-style: preserve-3d;
	transition: transform 0.2s ease;
}

.cube-container .cube-face {
	width: var(--cube-width);
	height: var(--cube-height);
	font-size: 40px;
	position: absolute;
	display: flex;
	background: yellow;
	color: white;
	justify-content: center;
	align-items: center;
}

.cube-container .front {
	background: rgb(125, 162, 192);
	transform: translateZ(var(--translateZ));
}

.cube-container .back {
	background: rgb(125, 162, 192);
	transform: rotateY(180deg) translateZ(var(--translateZ));
}

.cube-container .left {
	background: rgb(125, 162, 192);
	transform: rotateY(-90deg) translateZ(var(--translateZ));
}

.cube-container .right {
	background: rgb(125, 162, 192);
	transform: rotateY(90deg) translateZ(var(--translateZ));
}

.cube-container .top {
	height: var(--cube-width);
	background-image: url("/images/test_solcelle_top.png");
	background-size: cover;
	transform: rotateX(90deg) translateZ(var(--translateZ));
}

.cube-container .bottom {
	height: var(--cube-width);
	background: rgb(125, 162, 192);
	transform: rotateX(-90deg) translateZ(-100px);
}

/* BRUGES TIL KNAPPERNE TIL HOEJRE */
.buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 20px;
}

.row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttons button {
	font-size: 26px;
	width: 40px;
	height: 40px;
	margin: 2px;
	border: none;
	background-color: lightgray;
	cursor: pointer;
	border-radius: 10px;
}

.buttons button:hover {
	background-color: gray;
}
