/* .container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 50vh;
} */

/* Placering på menuen */
.child {
    width: 50%;
    height: 100%;
    padding: 100px;
}

/* Noget med bredden på menuen */
.child:nth-child(1) {
    width: 25%;
}

/* Styrer containeren med solcelleillustration */
.child>header {
    margin-top: 100px;
    margin-bottom: 200px;
    margin-left: 150px;
}

/* Styrer bredden og placeringen på menuen */
.child:nth-child(2) {
    width: 50%;
    margin-right: 100px;
}

/* Dont touch this shit
Er det som formattere menuen */
.dropdown {
    width: 100%;
    /* right: 100px; */
    position: block;
    /* display: relative; */
    font-size: 24px;
    text-align: center;
    margin: 10px;
    background-color: #f9f9f9;
    /* color: black; */
    cursor: pointer;
    border: 1px solid black;
    /* outline: none; */
    /* transition: 0.4s; */
}

/* Er hover på menuknapperne */
.active,
.dropdown:hover {
    background-color: #e6f4f4;
}

/* Sætter baggrundsfarve på dropdown kasser */
/* .dropdown-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    max-width: 400px;
    display: none;
    background-color: #f1f1f1;
    z-index: 1;
} */

/* BRUGES TIL KNAPPERNE TIL HOEJRE */
.piletaster {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

/* Centrerer piletastknapperne */
.row {
    display: flex;
    margin-left: 38%;
    justify-content: left;
    align-items: center;
}

/* Piletasternes styling yo */
#piletaster .row button {
    font-size: 25px;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 2px;
    border: none;
    background-color: #b6d5d8;
    cursor: pointer;
    border-radius: 10px;
}

/* Piletast hover farve weee */
#piletaster .row button:hover {
    background-color: gray;
}

#solar-square {
    width: 300px;
    height: 300px;
    margin: 0;
    position: relative;
    transform: rotate(45deg);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    margin: 100px;
}

#up,
#down,
#left,
#right {
    width: 50%;
    height: 50%;
    background: #EDB758;
    position: absolute;
    box-shadow: inset 0px 0px 0px 1px #a0a0a0;
}

.sun-active {
    background-color: #ffff55 !important;
}

#up {
    top: 0;
}

#right {
    top: 0;
    left: 50%;
}

#down {
    top: 50%;
    left: 50%;
}

#left {
    top: 50%;
    left: 0;
}